%div.form-group
  = f.label :name, "Ship Name", :class => "col-sm-4 control-label"
  %div.col-sm-6
    = f.text_field :name, :class => "form-control"
  %ul#error
    - unless @appliance.errors[:name].empty?
      - @appliance.errors[:name].each do |msg|
        %li
          = msg
%div.form-group
  = f.label :customer, "Pilot", :class => "col-sm-4 control-label"
  %div.col-sm-6
    = f.text_field :customer, :class => "form-control"
  %ul#error
    - unless appliance.errors[:customer].empty?
      - appliance.errors[:customer].each do |msg|
        %li
          = msg
